<!-- eslint-disable vue/multi-word-component-names -->
<!-- eslint-disable vue/no-multiple-template-root -->
<template>
  <el-menu class="el-menu-vertical-demo" :collapse="isCollapse">
    <span class="header-title">mega7</span>
    <i
      :class="isCollapse ? 'el-icon-s-unfold' : 'el-icon-s-fold'"
      @click="toggleCollapse"
    ></i>
    <el-submenu index="1" class="el-submenu">
      <template slot="title">
        <i class="el-icon-location"></i>
        <span slot="title">{{ getTitle }}</span>
      </template>
      <el-menu-item index="1-1" class="el-menu-item"></el-menu-item>
    </el-submenu>
  </el-menu>
</template>

<script>
import { defineComponent, ref } from "vue";
import { constantRoutes } from "@/store";

export default defineComponent({
  setup() {
    const isCollapse = ref(false);

    const getTitle = () => {
      if (constantRoutes.meta.title) {
        return constantRoutes.meta.title;
      } else {
        return;
      }
    };

    const toggleCollapse = () => {
      isCollapse.value = !isCollapse.value;
    };

    return {
      isCollapse,
      getTitle,
      toggleCollapse,
    };
  },
});
</script>

<style lang="scss">
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 250px;
  min-height: 100vh;
  background-color: #18304e;
}
.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
  background: #113d65;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);

  &:active {
    color: #767474;
  }

  &:hover {
    color: #409eff;
  }
}
.el-submenu {
  span {
    color: #fff;
  }
  .el-icon-location {
    color: #fff;
  }
}
.el-menu-item {
  background-color: #141828 !important;
  &:hover {
    font-weight: bold;
  }
}
</style>
