<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div class="login">
    <form class="login-form">
      <h1 class="login-form_title">mega7</h1>
      <div class="login-form_row">
        <InputText
          v-model="formData.account"
          :placeholder="'請輸入帳號'"
          :size="'medium'"
          @update:modelValue="onChildValueAccount"
        >
          <template v-slot:label>
            <span>帳號</span>
          </template></InputText
        >
      </div>
      <div class="login-form_row">
        <InputText
          v-model="formData.password"
          :placeholder="'請輸入密碼'"
          :size="'medium'"
          @update:modelValue="onChildValuePassword"
        >
          <template v-slot:label>
            <span>密碼</span>
          </template></InputText
        >
      </div>
      <div class="login-form_row_checkbox">
        <input v-model="formData.isRemember" type="checkbox" id="remember" />
        <label for="remember">記住我的登入</label>
      </div>
      <BaseButton
        class="login-form_submit"
        @click="submit"
        :label="'登入'"
        :type="'primary'"
      />
      <BaseButton class="alternate-url-button" :label="'備用網址'">
        <i class="mdi mdi-earth" style="color: #409efe; font-size: 16px"></i>
      </BaseButton>
    </form>
  </div>
</template>
<script>
import { defineComponent, ref, onMounted } from 'vue'
import { mapState, mapActions } from 'vuex'
import { useMessage } from '@/use/useMessage.js'
import { useValidation } from '@/use/useValidation.js'
import { required } from 'vuelidate/lib/validators'
import { getWarningMessage } from '@/helper/xhr'

export default defineComponent({
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'login',

  setup() {
    const { $v } = useValidation()
    const { $message } = useMessage()

    const loading = ref(false)
    const formData = ref({
      account: '',
      password: '',
      isRemember: false,
    })

    // computed
    const computedState = {
      ...mapState(['loginIP']),
    }

    // mounted
    onMounted(() => {
      init()
      setDefault()
      $v.value.formData.$touch()
    })

    // methods
    const { login, setDefault } = mapActions(['login', 'setDefault'])

    const init = () => {
      let isRemember = Boolean(
        window.localStorage.getItem('isRemember') === 'true'
      )
      formData.value = {
        account: isRemember ? window.localStorage.getItem('account') : '',
        password: '',
        isRemember: isRemember,
      }
    }

    const onChildValueAccount = (value) => {
      formData.value.account = value
      return
    }
    const onChildValuePassword = (value) => {
      formData.value.password = value
      return
    }
    const submit = async () => {
      if ($v.value.formData.$error) {
        return $message.warning(getWarningMessage('內容輸入錯誤'))
      }
      formData.value.ip = computedState.loginIP
      if (!loading.value) {
        loading.value = true

        try {
          await login({ body: formData })

          loading.value = false
          $router.push({ name: 'dashboard' })
        } catch (err) {
          loading.value = false
          $message.error(err.message)
        }
      }
    }

    return {
      loading,
      formData,
      computedState,
      submit,
      onChildValueAccount,
      onChildValuePassword,
    }
  },
  validations: {
    formData: {
      account: { required },
      password: { required },
    },
  },
})
</script>

<style lang="scss" scoped>
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  color: #fff;
  background-image: linear-gradient(45deg, #6e436c 25%, #2a4584 75%);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form {
  position: relative;
  padding: 1rem;
  width: 320px;
  max-width: 320px;
}

.login-form_title {
  text-align: center;
}

.login-form_submit,
.alternate-url-button {
  margin-bottom: 1rem;
}

.login-form_row_checkbox {
  margin-bottom: 1rem;
  label {
    margin-left: 0.5rem;
  }
}
</style>
