<!-- eslint-disable vue/valid-v-slot -->
<template>
  <div class="section">
    <div class="slots-container">
      <template v-if="$slots.label">
        <slot name="label" :bind="$slots.label"></slot>
      </template>

      <template v-if="$slots.prefix">
        <slot name="prefix" :bind="$slots.prefix"></slot>
      </template>

      <template v-if="$slots.suffix">
        <slot name="suffix" :bind="$slots.suffix"></slot>
      </template>

      <template v-if="$slots.prepend">
        <slot name="prepend" :bind="$slots.prepend"></slot>
      </template>

      <template v-if="$slots.append">
        <slot name="append" :bind="$slots.append"></slot>
      </template>
    </div>
    <div class="input-container">
      <el-input
        v-model="observeValue"
        @input="$emit('modelValue', $event)"
        type="text"
        id="input-text"
        :placeholder="placeholder"
        :class="{ medium: size === 'medium', small: size === 'small' }"
      />
    </div>
  </div>
</template>

<script>
import { computed, defineComponent } from "vue";

export default defineComponent({
  props: {
    value: { type: String },
    placeholder: { type: String, default: "請輸入" },
    size: {
      type: String,
      default: "medium",
      validator: (value) => ["medium", "small"].includes(value),
    },
  },
  emits: ["update:modelValue"],

  setup(props, { emit }) {
    const observeValue = computed({
      get() {
        return props.value;
      },
      set(value) {
        if (value !== props.value) {
          emit("update:modelValue", value);
        }
      },
    });
    return {
      observeValue,
    };
  },
});
</script>

<style lang="scss" scoped>
.section {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.slots-container {
  padding-bottom: 1rem;
}

.input-container {
  input {
    border: none;
    border-radius: 5px;
    text-indent: 1rem;
    &.medium {
      height: 36px;
    }

    &.small {
      height: 32px;
    }
  }
}
</style>
