<template>
  <div class="button-container">
    <el-button
      @click="handleClick"
      :size="size"
      :type="type"
      :style="{ ...{ width } }"
    >
      <slot />
      {{ label }}
    </el-button>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    label: { type: String },
    size: { type: String },
    type: { type: String },
    width: { type: String, default: "100%" },
  },

  setup(props, { emit }) {
    // methods
    const handleClick = () => {
      emit("click");
    };

    return {
      handleClick,
    };
  },
});
</script>

<style lang="scss" scoped></style>
