<template>
  <div class="layout">
    <el-container>
      <sidebar />
      <el-container>
        <el-header style="text-align: left; font-size: 12px">Header</el-header>
        <el-main class="container">
          <router-view v-slot="{ Component, route }">
            <div :key="route">
              <Component :is="Component" :key="route" />
            </div>
          </router-view>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import { Sidebar } from "./components";

export default defineComponent({
  name: "MainLayout",
  components: {
    Sidebar,
  },
});
</script>

<style lang="scss">
.layout {
  width: 100%;
  height: 100vh;
  display: flex;
}
</style>
